.g {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 90px 0 60px;
}
.g_head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #222;
}
.g_main {
  position: relative;
  width: 100%;
  height: 100%;
}
.g_foot {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  background-color: #666;
}
